include *.txt
include LICENSE
include *.rst
include tox.ini
recursive-include tests example-*.eml
recursive-include tests *.py
recursive-include tests *.secretkey
recursive-include tests *.sec.asc
recursive-include tests *.json
include tests/data/*.key
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
